<?xml version="1.0" encoding="UTF-8" ?>
<!--
Client log properties file
Create journal log and error log appenders	
 -->
<Configuration status="error" >
	<Properties>
		<Property name="log-path">logs</Property>
	</Properties>
	<Appenders> 
		<RollingFile name="journal-roll-file" fileName="${log-path}/activity-journal.log" filePattern="${log-path}/activity-journal-%d.log">
			<PatternLayout>
				<pattern>[%-5level] %d{HH:mm:ss.SSS} [%t] - %m%n</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            	<SizeBasedTriggeringPolicy size="1 MB" />
			</Policies>
		</RollingFile>
		
		<RollingFile name="errors-roll-file" fileName="${log-path}/errors.log" filePattern="${log-path}/errors-%d.log">
			<PatternLayout>
				<pattern>[%-5level] %d{HH:mm:ss.SSS} [%t] %n%m%n</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            	<SizeBasedTriggeringPolicy size="1 MB" />
			</Policies>
		</RollingFile>
		
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
		</Console>
		
	</Appenders>
	<Loggers>
		<Root level="trace" additivity="true">
			<appender-ref ref="console"/>		
		</Root>
		<Logger name="client.Main" level="trace" additivity="true">
			<appender-ref ref="journal-roll-file" level="info"/>
			<appender-ref ref="errors-roll-file" level="error"/>
		</Logger>
	</Loggers>
</Configuration> 
